<html>
<head>
  <link rel="stylesheet" href="sample2.css">

  <meta name="viewport" content="width=320,
        height=480,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=2.0,
        user-scalable=yes" />

<style type="text/css">
h1 {
  color: #505050;
  /*文字色*/
  padding: 0.5em;
  /*文字周りの余白*/
  display: inline-block;
  /*おまじない*/
  line-height: 1.3;
  /*行高*/
  background: #dbebf8;
  /*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
  /*左側の角を丸く*/
}

h1:before {
  content: '●';
  color: white;
  margin-right: 8px;
}


body {
  background: linear-gradient(#f0f8ff, #e6e6fa);
}

</style>

</head>
<body>

  <h1>すまほのきょうかしょ</h1>
  <hr>
  {% load static %}
  <img src="{% static 'tatti.jpg' %}" alt="サンプル" width="300" height="200">
  <hr>
  <a href="{% url 's1' %}">タッチ</a>
  <hr>
  <img src="{% static 'kakudai.jpg' %}"  alt="サンプル" width="300" height="200">
  <hr>
  <a href="{% url 's2' %}">拡大縮小</a>
  <hr>
  <img src="{% static 'scroll.jpg' %}"  alt="サンプル" width="300" height="200">
  <hr>
  <a href="{% url 's3' %}">スクロール</a>
  <hr>
  <img src="{% static 'dicitionary.jpg' %}"  alt="サンプル" width="300" height="200">
  <hr>
  <a href="{% url 's4' %}">基本用語</a>
  <hr>
  <img src="{% static 'app.jpg' %}"  alt="サンプル" width="300" height="200">
  <hr>
  <a href="s1.html">アプリのインストール</a>
  <hr>
  <img src="{% static 'line.jpg' %}"  alt="サンプル" width="300" height="200">
  <hr>
  <a href="s1.html">ラインの使い方</a>
  <hr>
  <img src="{% static 'amazon.jpg' %}"  alt="サンプル" width="300" height="200">
  <hr>
  <a href="s1.html">アマゾンの使い方</a>
  <hr>

</body>
</html>
